* {
  font-family: 'Bebas Neue', sans-serif;
  box-sizing: border-box;
}

/* header & footer */
header {
    background: #bbffa0;
    grid-column: 1 / 4;
}

footer {
    background:#1ce7b5;
    grid-column: 1 / 4;
}


/* body, div, section */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

div {
    display: grid;
    grid-template-columns: 15% auto 20%;
}

section {
    background: #ebe716;
}

/* nav */
nav {
    background: #f7bb8a;
    grid-column: 1 / 4;
    display: flex;
}

#left {
    background: #19c930;
}


#right {
    background: #38eb0b;
}

main {
    background: #86b408;    
}

/* Text style */
h1 {
    color: #1f1e1e;
    font-size: 50px;
    padding: 10px;
    text-align: center;
}

p {
    color: #5e5e5e;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

/* button */
.buttons-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  gap: 10px;
}

.button {
  background: darkblue;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: background 0.3s;
  text-align: center;
  min-width: 130px;
}

.button:hover {
  opacity: 0.8;
}

/* Galeria */
.galeria {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.image {
    display: flex;
    gap: 20px;
}

.image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}