* {
    font-family: 'Gill Sans';
}
/* pierwsza deklaracja aside; kolor zielony */
aside {
    background: green;
}

div {
    display: grid;
    grid-template-columns: 15% auto 20%;
}

header {
    background: lightblue;
    grid-column: 1 / 4;
}

nav {
    background: white;
    grid-column: 1 / 4;
    display: flex;
}

#left {
    background: pink;
}

section {
    background: red;
}
/*druga deklaracja aisde; kolor żółty zostanie jako ostateczny (CSS jest czytany linia po linii i interpretowany
na bieżąco */
aside {
    background: yellow;
}

main {
    background: brown;    
}

.button {
    background: darkblue;
    color: white;
    text-align: center;
    width: 20vw;
    user-select: none;
    cursor: pointer;
}

.button:hover {
    opacity: 0.7;
}

.active {
    border: 1px solid lightcoral;
}

footer {
    background:orange;
    grid-column: 1 / 4;
}

.galeria {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.image {
    display: flex;
    gap: 20px;
}

.image img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}