<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="FlaskTutor" />
    <meta name="keywords" content="flask, strona, www" />
    <meta name="descrition" content="Przykładowa strona dla Flask" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moja strona Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styl.css') }}" />
    <script defer="defer" src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <div>
        <header>
            <h1>
                Moja strona Flask!
            </h1>
        </header>
        <nav>
            <p data-var="mainSite" class="button active">Pierwsza strona</p>
            <p data-var="secondSite" class="button">Druga strona</p>
            <p data-var="thirdSite" class="button">Trzecia strona</p>
        </nav>
        <!--<main>-->
            <section id="left">
                <p>LEWA</p>
            </section>
            <section id="center">
                <p>ŚRODEK</p>
            </section>
            <aside>
                <p>PRAWA</p>
            </aside>
            
            <section id="content">
                <!-- Galeria -->
            </section>

            <button id="loadGallery">Pokaż galerię</button>
            
        <!--</main>-->
        <footer>
            <p>Strona do celów szkoleniowych, brak ograniczeń</p>
        </footer>
    </div> 
</body>
</html>